*{
    padding:0;
    margin: 0;
    background:#f8da92;
}
img,.text-div
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
footer{
    position:absolute;
    top:100%;
    left:50%;
    font-size:xx-small;
    font-style:italic;
}
#text-here{
    background:none;
    text-transform: capitalize;
}
.text-div{
    background:none;
    font-size:4.5rem;
}
.text-div:hover,img:hover{
    cursor: pointer;
}
a{
    outline: none;
    color:black;
}